body {font-family: Helvetica; text-align: center;}
.heading {background-image: url("../images/background image.png"); background-size:cover;
width: 1280; height: 1244; color: white;}
h1 {font-size: 70px; font-weight: bold;}
h4 {font-size: 18px;}
h2 {font-size: 32px; font-weight: bold;}
h3 {font-size: 23px; font-weight: bold;}
p {font-size: 14px;}
#designed {color: white; background-image: url("../images/background image.png");}
.footnote {background-color: dimgray; font-size: 18px; color: white; text-align: left;}
.copyright {font-size: 11px;}
