body {font-family: Helvetica; text-align: center;}
h1 {font-size: 70px; font-weight: bold; color: white; background-image:
  url("../images/background image.png")}
h4 {font-size: 18px; color: white;}
h2 {font-size: 32px; font-weight: bold;}
h3 {font-size: 23px; font-weight: bold;}
p {font-size: 14px;}
#designed {color: white; background-image: url("../images/background image.png")}
.footnote {background-color: dimgray; font-size: 18px; color: white;}
.copyright {font-size: 11px;}
